<div class="loader-container" *ngIf="loadingService.isLoading$ | async">
  <div class="loader">
    <img src="/assets/images/loading.svg">
  </div>
</div>
<app-toolbar *ngIf="isLoggedIn$ | async" [sidenav]="sidenav"></app-toolbar>

<mat-sidenav-container class="app-container" [hasBackdrop]="!(isScreenLarge$ | async)">

  <mat-sidenav #sidenav mode="side" *ngIf="isLoggedIn$ | async" [opened]="isScreenLarge$ | async">
    <mat-nav-list>
      <mat-list-item routerLink="/home">
        <mat-icon matListItemIcon>home</mat-icon>
        <span>Home</span>
      </mat-list-item>

      <mat-list-item routerLink="/devices">
        <mat-icon matListItemIcon>devices</mat-icon>
        <span>Meus Dispositivos</span>
      </mat-list-item>

      <mat-list-item (click)="onLogout()" routerLink="/login">
        <mat-icon matListItemIcon>exit_to_app</mat-icon>
        <span>Sair</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer *ngIf="isLoggedIn$ | async"></app-footer>
